/* Font Families Used */
/* 
font-family: 'Arimo', sans-serif;
font-family: 'Comforter', sans-serif;
font-family: 'Dancing Script', sans-serif; 
*/

html,body
{
    background-color: white;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

#paraStyles{
    /* background-color: #063970; */
    color: #063970;
    margin-top: 1.25rem;
    font-size: 1.5rem;
    font-family: 'Arimo', sans-serif;
}

#mainTStyle{
    padding-left: .5rem;
    padding-right: .5rem;
    background-color: #063970;
    padding-top: 1rem;
    padding-top: 1rem;
    color: white;
    margin-top: 3.50rem;
    font-size: 3.5rem;
    font-family: 'Arimo', sans-serif;
}

/* Navbar */
#navbar-color{
    background-color: #063970;
}

#navbarBrandStyles{
    color:white;
}

.navbar-brand{
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 2.3rem;
    color: white;
    font-family: 'Dancing Script', sans-serif;
}

#navLinkStyles{
    text-align: center;
    transition: 0.5s;
    margin-left: 1rem;
    font-size: 1.3rem;
    color:white;
}

#navLinkStyles:hover{
    margin-left: 1rem;
    font-size: 1.3rem;
    color:#063970;
    background-color: white;
    border-radius: 1rem;
    transition: 0.5s;
}