h1{
    color: #063970;
}

body{
    background-color: white
}

#mainTStyle{
    
}

/* Navbar */
#navbar-color{
    background-color: #063970;
}

.navbar-brand{
    font-size: 2.3rem;
    color: white;
    font-family: 'Dancing Script', cursive;
}